/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/*Righe*/
.row{
    width: 50%;
    margin: 20px auto;
    height: 350px;
    font-size: 0px;
}
/*Immagini*/
.box{
    width: calc(100%/3);
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    position: relative;
}
img{
    width: 90%;
    height: 90%;
    transition: all 0.2s;
}
/*Descrizione*/
figcaption{
    margin-top: 5px;
    margin-left: 5%;
    text-align: left;
}
.brand{
    font-size: 10px;
}
.model{
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}
.red-price{
    font-size: 11px;
    font-weight: bold;
    color: red;
}
.black-price{
    font-size: 11px;
    font-weight: bold;
    text-decoration: line-through;
}
/*Etichette*/
.like{
    width: 25px;
    height: 25px;
    position: absolute;
    right: 5%;
    top: 4%;
    background-color: white;
    font-size: 18px;
    line-height: 25px;
}
.discount{
    height: 15px;
    width: 30px;
    position: absolute;
    left: 5%;
    top: 83%;
    background-color: #EB0037;
    color: white;
    font-size: 9px;
    line-height: 15px;
}
.sost{
    height: 15px;
    width: 60px;
    position: absolute;
    left: calc(5% + 32px);
    top: 83%;
    background-color: #00875A;
    color: white;
    font-size: 9px;
    line-height: 15px;
}
.left{
    left: 5%;
}
/*Funzioni di hover*/
.second-pic{
    position: absolute;
    top: 0;
    left: 5%;
    display: none;
}
.box:hover .second-pic{
    display: inline-block;
}
.box:hover img{
    box-shadow: 5px 5px 5px lightgray;
    transform: scale(1.02);
    cursor: pointer;
}
.like:hover{
    color: red;
    cursor: pointer;
}